@font-face{
    font-family: "Comfortaa-Bold.ttf";
    src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face{
    font-family: "Comfortaa-Light.ttf";
    src: url("../fonts/Comfortaa-Light.ttf");
}

@font-face{
    font-family: "Comfortaa-Regular.ttf";
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face{
    font-family: "White On Black.ttf";
    src: url("../fonts/White\ On\ Black.ttf");
}