/*Estilos general del body*/
body {
    background-image: url("../img/Miradas.png");
    background-repeat: no-repeat round;
    background-position: right top;
    background-attachment: fixed;
    background-color: #2a2a2a;
    margin: 0;
    padding: 0;
    background-size: contain;
    
}

/*Estilos del header*/

.flex-container-header {
    display: flex;
}

.flex-container-header div {
    margin-top: 50px;
    padding: 25px;
}

.flex-container-header div a {
    color: #ffffff;
    text-decoration: none;
    margin: 70px;
    font-size: 20px;
    padding: 15px;
    font-family: "Comfortaa-Regular.ttf", sans-serif;
    box-sizing: border-box;
}

.flex-container-header div a:hover {
    text-shadow: #d03b3b 10px 10px 10px;
    transition: 0.5s ease;
    color: #f1f1f1;
    font-family: "Comfortaa-Bold.ttf", sans-serif;
}

.img-left {
    margin-right: auto;
}

img {
    width: 500px;
    padding-left: 25px;
    margin-left: 30px;
}

/*Estilos del main (Otro nav que redirige al fichero proyectos*/

.flex-container-main {
    display: flex;
    font-family: "White On Black.ttf", sans-serif;
    justify-content: center;
    margin-top: 120px;
}

.titular-main div h1 {
    display: flex;
    justify-content: center;
    font-family: "White On Black.ttf", sans-serif;
    color: #f1f1f1;
    font-size: 50px;
}

.titular-main div h1 span {
    font-size: 120px;
    text-shadow: #d03b3b 20px 20px 20px;
    padding: 20px;
    margin-right: 20px;
}

.flex-container-main  {
    display: flex;
}

.flex-container-main div a {
    color: #f1f1f1;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
    
}

.flex-container-main div a:hover {
    text-shadow: #d03b3b 20px 20px 20px;
    transition: 0.5s ease;
    
    color: #f1f1f1;
}

/*Estilos del main*/











/*Estilos del footer*/

.flex-container-footer {
    display: flex;
    margin-top: 120px;
    align-content: flex-end;
    position: absolute;
    
    padding-bottom: 30px;
}

.flex-container-footer div p {
    color: #f1f1f1;
    font-family: "Comfortaa-Regular.ttf", sans-serif;
    margin-left: 70px;
    margin-right: 1200px;
}

.flex-container-footer div a {
    box-sizing: border-box;
}

.flex-container-footer div a img {
    width: 40px;
}

.img-right {
    margin-left: auto;
    margin-right: 80px;
}